.common {
    text-align: center;
}

.title {
    font-size: x-large; 
}

.boxitem {
    display: inline-block;
    vertical-align: top;
}

#clearbtn {
    width: 196px;
    font-size: medium;
    display: block;
}
